In [ ]:
# 1.Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [3]:
length = float(input("Enter the length of the Rectangle: "))
breadth = float(input("Enter the breadth of the Rectangle: "))

if length == breadth:
   print("The rectangle is a Square.")
else:
   print("The rectangle is not a Square.")

Enter the length of the Rectangle: 25
Enter the breadth of the Rectangle: 20
The rectangle is not a Square.

In [ ]:
# 2.Take three integer values from the user and print the greatest among them.

In [6]:
num1 = int(input("Enter the 1st number: "))
num2 = int(input("Enter the 2nd number: "))
num3 = int(input("Enter the 3rd number: "))

if num1 > num2 and num1 > num3:
   print("The greatest number is ", num1)
elif num2 > num3:
   print("The greatest number is ", num2)
else:
   print("The greatest number is ", num3)

Enter the 1st number: 30
Enter the 2nd number: 35
Enter the 3rd number: 33
The greatest number is  35

In [ ]:
# 3.A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [15]:
attendancePercentage = float(input("Enter the attendance percentage: "))

if attendancePercentage < 75  :
    print("The student is not allowed to sit in the exam.")
else:
    print("The student is allowed to sit in the exam.")

Enter the attendance percentage: 75
The student is allowed to sit in the exam.

In [ ]:
# 3.A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [30]:
classHeld = int(input('Total Class Held: ')),
classAttend = int(input('Attend Total Class: ')) 

result = (classAttend / classHeld)*100

print("Attandance is",result)

if result > 75:
   print("Allowed to sit in Exam")
else:
   print("Not allowed to sit in Exam")

Total Class Held: 60
Attend Total Class: 30

TypeError: unsupported operand type(s) for /: 'int' and 'tuple'

In [ ]:
# 4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [41]:
gradingMarks = float(input("Enter Student Marks: "))

if gradingMarks < 25:
    print("Grade: F")
    
elif gradingMarks >= 25 and gradingMarks < 45:
    print("Grade: E")
    
elif gradingMarks >= 45 and gradingMarks < 50:
    print("Grade: D")
    
elif gradingMarks >= 50 and gradingMarks < 60:
    print("Grade: C")
    
elif gradingMarks >= 60 and gradingMarks < 80:
    print("Grade: B")
    
elif gradingMarks >= 80 and gradingMarks < 90:
    print("Grade: A")
    
elif gradingMarks >= 90:
    print("Grade: A+")

Enter Student Marks: 60
Grade: B

In [ ]:
# 5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [43]:
 for i in range(8, 0, -1):
        for k in range(1,i):
            print(k, end=" ")
        print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [46]:
i = 8
while i > 0:
    k = 1
    while k < i:
        print(k, end=" ")
        k += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# 6. Display numbers from -100 to -10 using for loop.

In [49]:
for i in range(-100, -9):
    #print(i)
    print(i, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

In [55]:
# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

sum = 0
for num in range(10, 1001):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            sum += num
print("The sum of all prime numbers within the range of 10 to 1000 will be", sum)

The sum of all prime numbers within the range of 10 to 1000 will be 76110

In [ ]:
# 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [75]:
def factorial(n):
   if n == 0:
       return 1
   else:
       return n * factorial(n-1)
    
n = int(input("Enter a number: "))

fact = factorial(n)

print("The factorial of", n, "is", fact)

Enter a number: 7
The factorial of 7 is 5040

In [76]:
# 10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #


# Using for loop
for i in range(4, 1, -1):
    for j in range(1, i):
        print("#", end=" ")
    print()

# # #
# #
#

In [77]:
# Using while loop
i = 5
while i > 0:
    j = 1
    while j < i:
        print("#", end=" ")
        j += 1
    print()
    i -= 1

# # # #
# # #
# #
#

In [ ]:
#11. Display the Fibonacci series of 15 elements using the for and while loop.

In [78]:
a, b = 0, 1

# Using for loop
for i in range(15):
    print(a, end=" ")
    a, b = b, a + b

print()

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [79]:
# Using while loop
a, b = 0, 1
i = 0
while i < 15:
    print(a, end=" ")
    a, b = b, a + b
    i += 1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [ ]:
# 12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [81]:
Li = [1,3,5, [2,3], True]

Li[3].remove(2)
Li[3].append(3)
Li[4] = False

print("Output =", Li)

Output = [1, 3, 5, [3, 3], False]

In [ ]:
# 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [82]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

intersection = S1.intersection(S2)
print("The intersection of the two sets is", intersection)

The intersection of the two sets is {True}

In [ ]:
# 15. 15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [86]:
dict = { 'name': 'Shakil', 'age':27, 'city': 'Berlin', 'country': 'Germany' }

dict['region'] = dict.pop('country')

print("The updated dictionary will be", dict)

The updated dictionary will be {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [ ]:
# 16. 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [ ]:
#17. 17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [89]:
dict = { "name": "Shakil", "age":27, "city": 'Berlin', "country": "Germany" }
dict['age'] = 28
print("Now the Python program will be", dict)

Now the Python program will be {'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}